{% extends 'components/base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between border-bottom">
    <h1 class="mx-3">Alerts</h1>
</div>

{% if list %}
{% include 'components/table.html' %}

{% else %}
<p> There are no alerts! </p>
{% endif %}

<script>
    function deleteEntry(btn){
        let row = btn.parentNode.parentNode;
        fetch('/alerts', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ '_id': btn.value })
        })
        row.remove();
    }
</script>

{% endblock %}
