{% extends 'components/base.jinja2' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between border-bottom">
        <h1 class="mx-3">Alerts</h1>
    </div>

    {% if list %}
        {% include 'components/table.jinja2' %}

    {% else %}
        <p> There are no alerts! </p>
    {% endif %}

{% endblock %}
