{% extends 'components/base.jinja2' %}

{% block content %}
    <div class="d-flex align-items-center justify-content-between border-bottom">
        <h1 class="mx-3">Blocked IPs</h1>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal"> Add new IP </button>
    </div>


    {% include 'components/modal/blacklist.jinja2' %}


    {% if list %}
        {% include 'components/table.jinja2' %}

    {% else %}
        <p> There are no IPs blacklisted! </p>
    {% endif %}

{% endblock %}
