{% extends 'components/base.html' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between border-bottom">
    <h1>Blocked IPs</h1>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal"> Add new IP </button>
</div>


{% include 'components/modal/blacklist.html' %}


{% if list %}
{% include 'components/table.html' %}

{% else %}
<p> There is no IP blacklisted </p>
{% endif %}

<script>
    function deleteEntry(btn){
        console.log(btn.value)
        let row = btn.parentNode.parentNode;
        fetch('/blacklist', {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ '_id': btn.value })
        })
        row.remove();
    }
</script>

{% endblock %}
