{% extends 'components/base.html' %}

{% block content %}
<div class="container">
    <h1>Configurations</h1>
    <hr>
</div>

<div class="container align-items-right justify-content-between">
    <a class="btn btn-danger" href="{{url_for('configurations')}}/setup_db">Recreate DB</a>
    <a class="btn btn-danger" href="{{url_for('configurations')}}/populate_rules">Populate Rules</a>
    <a class="btn btn-danger" href="{{url_for('configurations')}}/populate_blacklist">Populate Blacklist</a>
    <a class="btn btn-danger" href="{{url_for('configurations')}}/populate_alerts">Populate Alerts</a>
    <a class="btn btn-danger" href="{{url_for('configurations')}}/populate_packets">Populate Packets</a>
</div>
{% endblock %}

