{% extends 'components/base.jinja2' %}

{% block content %}
<div class="d-flex align-items-center justify-content-between border-bottom">
     <h1 class="mx-3">Rules</h1>
    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal"> Add new rule </button>
</div>


{% include 'components/modal/rules.jinja2' %}

{% if list %}
{% include 'components/table.jinja2' %}

{% else %}
<p> There are no rules! </p>
{% endif %}

{% endblock %}
